COMPOSE_PROJECT_NAME=leggau

API_PORT=3000
NGINX_HTTP_PORT=8080

DB_HOST=postgres
DB_PORT=5432
DB_NAME=leggau
DB_USER=leggau
DB_PASSWORD=leggau_dev_password
DATABASE_SYNC=true

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_ENABLED=true

UPLOADS_ROOT=./.data/uploads
BACKUP_ROOT=./.data/backups

DEV_API_BASE_URL=http://localhost:8080/api
PROD_API_BASE_URL=https://api.leggau.com
DEFAULT_PARENT_EMAIL=parent@leggau.local
DEFAULT_PARENT_NAME=Responsavel Demo
